<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/960_12_col.css">
    <title>{{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
