<h1>{{ title }}</h1>
<p>Hello, Dave</p>
<div id="news_list">
  <ul>
    {{#each news as |item|}}
      <li>
        <a href={{ item.webUrl }} target="_blank">{{ item.webTitle }}</a>
      </li>
    {{/each}}
  </ul>
</div>
