body {
  font-family: "AvenirNext-Medium";
  text-align: center;
}

#header {
  background-color: lightgrey;
  font-family: "AvenirNext-Heavy";
  font-size: 175%;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 7px 7px 9px grey;
  border-radius: 7px;
}

.news_section {
  position: sticky;
  top: 20px;
}

.articles {
  text-align: left;
  background-color: lightgrey;
  margin-bottom: 20px;
  padding: 5px 20px 5px 20px;
}